@use "../../../designSystem/variables";
@use "../../../designSystem/mediaQueries";

.cardDisplay {
  --width: 300px;
  --height: 500px;
  --skew: -10deg;

  padding-bottom: 2rem;
  position: relative;
  margin: auto;

  @include mediaQueries.media("lg") {
    --width: 400px;
    --height: 600px;
  }

  .imageContainer {
    width: 100%;
    height: var(--height);

    position: relative;

    .backgroundImage {
      object-fit: cover;
      overflow: hidden;

      -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
      clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    }

    .titleContainer {
      position: absolute;
      bottom: -1rem;
      right: 1rem;
      padding: 0.5rem 1rem;
      background-color: var(--primary-main);
      color: var(--neutral-background);

      z-index: 1;
    }
  }

  .descriptionContainer {
    margin-top: 2rem;
  }

  .button {
    margin-top: 1rem;
  }
}
