@use "sass:map";
@use "../../../designSystem/variables";
@use "../../../designSystem/mediaQueries";
@use "../../../designSystem/utils";

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  max-height: 1150px;

  background-color: var(--neutral-dark);

  overflow: hidden;
  position: relative;

  border-radius: 0 0 5rem 5rem;

  .backgroundImage {
    object-fit: cover;
    opacity: 0.8;

    &--position-top {
      object-position: top;
    }

    &--position-bottom {
      object-position: bottom;
    }

    &--position-center {
      object-position: center;
    }

    &--position-left {
      object-position: left;
    }

    &--position-right {
      object-position: right;
    }
  }

  .textWrapper {
    width: 100%;
    display: flex;
    margin-top: 50vh;
    color: var(--neutral-dark);

    // h1 {
    //   font-size: 6rem;

    //   @include mediaQueries.media("md", "max") {
    //     font-size: 4rem;
    //   }
    // }
  }

  &.compact {
    height: 50vh;
    max-height: 600px;
    min-height: 400px;

    .textWrapper {
      margin-top: 25vh;

      @include mediaQueries.media("md", "max") {
        margin-top: 20vh;
      }
    }

    h1 {
      font-size: 4rem;

      @include mediaQueries.media("sm", "max") {
        font-size: 3rem;
      }
    }
  }

  &.negative {
    .textWrapper {
      color: var(--neutral-background);
    }
  }
}
