@use "sass:map";
@use "../../../designSystem/variables";
@use "../../../designSystem/mediaQueries";
@use "../../../designSystem/utils";

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  max-height: 1150px;

  background-color: var(--neutral-text);

  overflow: hidden;
  position: relative;

  .backgroundImage {
    object-fit: cover;
    object-position: center;
    opacity: 0.8;
  }

  .textWrapper {
    width: 100%;
    display: flex;
    margin-top: 50vh;
    color: var(--neutral-text);

    h1 {
      font-size: 6rem;

      @include mediaQueries.media("md", "max") {
        font-size: 4rem;
      }
    }
  }

  &.compact {
    height: 50vh;
    max-height: 600px;
    min-height: 400px;

    .textWrapper {
      margin-top: 25vh;

      @include mediaQueries.media("md", "max") {
        margin-top: 20vh;
      }
    }

    h1 {
      font-size: 4rem;

      @include mediaQueries.media("sm", "max") {
        font-size: 3rem;
      }
    }
  }
}
