.sectionTitle {
  $width: 100px;
  width: fit-content;
  display: flex;
  position: relative;
  z-index: 1;
  margin: 3rem 0;

  &--center {
    margin: 3rem auto;
  }

  &--highlight {
    .highlight {
      width: fit-content;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 10px;
        left: -10px;
        z-index: -1;
        transform: rotate(-2deg);

        background-color: var(--primary-main);
      }
    }
  }
}
