@use "variables";
@use "mediaQueries";
@use "text";

:root {
  // color palette
  --neutral-background: #f4f6ff;
  --neutral-light: #f4f6ff;
  --neutral-main: #bdbfca;
  --neutral-dark: #231c1c;

  --primary-background: #e9ceb0;
  --primary-light: #f4a66c;
  --primary-main: #f48847;
  --primary-dark: #f26549;
  --primary-text: #231c1c;

  --accent-light: #5eaacc;
  --accent-main: #296f96;
  --accent-dark: #1d546d;
  --accent-contrast-text: #231c1c;

  --secondary-light: #49aa83;
  --secondary-main: #339665;
  --secondary-dark: #317a60;

  --thertiary-light: #ffdeb3;
  --thertiary-main: #f3c98b;
  --thertiary-dark: #eba055;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     // color palette
//     --neutral-background: #1c1d23;
//     --neutral-border: #bdbfca;
//     --neutral-text: #f4f6ff;
//   }
// }

// global reset
*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: inherit;
}

html,
body {
  scroll-behavior: smooth;
  height: -webkit-fill-available;

  background-color: var(--primary-main);
  color: var(--neutral-text);

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  font-family: var(--font-inter);
  font-display: swap;
  font-size: variables.$font-md;
  line-height: 1.2;

  @include mediaQueries.media("lg") {
    font-size: variables.$font-md;
  }
}

body {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));

  &.freeze {
    overflow-y: hidden;
  }

  .root {
    isolation: isolate;
  }
}

main {
  width: 100%;
  height: 100%;
}

a {
  font-weight: 500;
  color: var(--primary-light);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--primary-light);
  }
}

button {
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
