@use "../../../designSystem/variables";
@use "../../../designSystem/mediaQueries";

.cardFrame {
  --height: 30rem;

  margin: 1rem;

  @include mediaQueries.media("lg") {
    --height: 40rem;
  }

  .imageContainer {
    width: 100%;
    height: var(--height);
    position: relative;

    .backgroundImage {
      object-fit: cover;
      overflow: hidden;

      -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
      clip-path: polygon(10% 10%, 98% 2%, 100% 100%, 10% 98%);
    }

    .frame {
      position: absolute;
      top: 55%;
      left: 58%;

      width: 80%;
      height: 80%;

      border: 0.5rem solid var(--primary-main);
      border-style: solid solid double double;

      transform: skew(2deg) translate(-50%, -50%);
    }
  }
}
