@use "../../../designSystem/variables";
@use "../../../designSystem/mediaQueries";

.cardFrame {
  --width: 30rem;
  --height: 30rem;
  --radius1: 30rem;
  --radius2: 30rem;

  margin: 3rem 1rem;

  @include mediaQueries.media("lg") {
    max-width: var(--width);
  }

  .imageContainer {
    width: 100%;
    height: var(--height);
    position: relative;

    .backgroundImage {
      object-fit: cover;
      border-radius: var(--radius1) var(--radius2) var(--radius1) var(--radius2);
      overflow: hidden;
    }

    .frame {
      position: absolute;
      top: 1rem;
      left: 1rem;

      width: 100%;
      height: 100%;

      border-radius: var(--radius1) var(--radius2) var(--radius1) var(--radius2);
      border: 0.5rem solid var(--primary-main);
      border-style: solid solid double double;
    }
  }
}
